:root {
  --background: #ffffff;
  --foreground: #1b1f23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1f23;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  gap: 30px;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  padding: 30px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
